
.browsehappy {
    background: #ccc;
    color: #000;
    text-align: center;
    font-size: 18px;

}

/*colors*/
$yellow:#e3d700;
$black:#000;
$white:#fff;


/*defaults*/
div {position: relative;}
button{outline:none !important;}
.img-responsive{margin:0 auto;}

ul {
    list-style-type: none;
    padding:0;
    li{
        display: inline-block;
    }
}
.heading span{font-size:16px;}
.txtcenter{text-align:center;}
.relative-center{float:none;margin:0 auto;}
.absolute-center { margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;}
.clear{clear:both;}
.unpadded{padding:0 !important;}

h1,h2,h3,h4,h5,h6{font-family:"chunkfive";color:$black;}
h1{font-size:36px}
h2{font-size: 25px;}
h3{font-size:21px;}
h4{font-size:18px;}

.yellow{color:$yellow !important;}

body {
    font:14px"avenir";
    color:$white;
        header{

                .navbar{
                    background: $black;
                    font-family:"chunkfive";
                    border-radius: 0;
                    margin-bottom: 0;
                        .navbar-collapse{
                            box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.1);
                            -webkit-overflow-scrolling: touch;
                        }
                        .navbar-nav{
                            margin: 0;
                        }


                a{
                    color:$white;
                    padding:15px 10px;
                    &:hover{
                        background:rgba(198, 197, 195, 0.2);
                        color:$yellow;
                    }
                }
                a.navbar-brand {
                    padding:0px;
                    width: 50%;
                    position:relative;
                    z-index: 10;
                    &:hover{
                        background:none;
                    }

                }
                .navbar-toggle{
                        .icon-bar{
                            height: 7px;
                            width: 41px;
                            background:$yellow;
                        }

                }
                .collapse.in,.collapsing {
                  background: rgba(0,0,0,0.8);
                  position:absolute;
                  z-index: 9;
                  width: 100%;
                  padding-top:100px;
                  min-height: 800px;
                }

            }
        }/*header*/


        section.main{
                .share-button{
                    display: inline-block;
                }
                background:$black;
                .banner-bg{
                        background:#db0000 url(../img/banner-bg.jpg) top center;
                        .slider-container{
                            top:100px;
                        }


                }
                .welcome{
                    background:$black;
                    z-index: 3;
                    top:100px;
                    margin:0 auto;
                    border:$white thin dashed;
                    position:relative;
                    float: none;

                    .row{
                        border:$white thin solid;
                        .welcome-content{
                            padding:30px;
                            border-bottom:none;
                        }
                        .delivery-details{
                            border-top:$white thin solid;
                            text-align:center;
                            background:url(../img/fire.png) bottom repeat-x;
                            h1{margin:0;color:$white;}
                            dt{
                                font-size: 10px;
                                text-align:center;

                            }
                            .btn-group{
                                padding-bottom:15px
                            }
                        }
                    }

                }
                .title-heading{
                    &:before{
                        content: '';
                        border-top: solid 1px #d6d6d6;
                        display: block;
                        width: 8%;
                        position: absolute;
                        top: 10px;
                        z-index: 1;
                    }
                    &:after{
                        content: '';
                        border-top: solid 1px #d6d6d6;
                        display: block;
                        width: 8%;
                        right:0;
                        position: absolute;
                        top: 10px;
                        z-index: 1;
                    }

                }
                .wave{

                    &:before{
                        content: '';
                        height: 11px;
                        background: url(../img/bg-wave.png) center;
                        width: 100%;
                        z-index: 2;
                        display: block;
                        position:absolute;
                        top: -5px;
                    }
                    &:after{
                        content: '';
                        height: 11px;
                        background: url(../img/bg-wave.png) center;
                        width: 100%;
                        z-index: 2;
                        display: block;
                        position:absolute;
                        bottom: -6px;
                    }
                }
                .mosaic-bg{
                    background:url(../img/mosaic-bg.jpg) repeat;
                }
                .announcement{
                    background:$white;
                    .announcement-content{
                        padding-top:150px;
                        .heading{
                            color:$black;
                        }
                        #announcement-banner{
                            .item{
                                .description{
                                    span.announcement-msg{
                                        color:#3e3e3e;
                                        font-size: 16px;
                                    }
                                }
                            }
                        }

                    }

                }
                .chooks-blog{
                    .chooks-blog-content{
                        .blog-post-container{
                            .view-all{
                                padding:15px 0;
                                border-top:#b2b2b2 2px solid;
                            }
                            .share-button{
                                top:-20px;
                            }
                        }
                        .post{
                            .thumbnail{
                                background:#e3e3e3;
                                border:#8f8f8f thin solid;


                            }
                            .blog-post{
                                span.blog-post-details{
                                    text-overflow: ellipsis;
                                    color:#3e3e3e;
                                }
                            }
                        }
                    }
                    .komiks-container{

                        .komiks-content{
                            margin-top:30px;
                            background:$black;
                            min-height: 400px;

                            h3{
                                color:$white;
                            }
                            .heading{
                                margin:0;
                            }
                        }
                        .enlarge-komiks{
                            margin-top: 10px;
                        }
                    }
                }/* end chooks-blog */

                /* store locator */
                .store-locator{
                    min-height: 600px;
                    .store-locator-content{
                        padding-top:50px;
                        h2,h4,span{
                            color:$white;
                        }
                        .map{

                            z-index: 4;
                            .find-store{
                                top:-20px !important;
                                .btn-rounded{
                                    padding:3px 20px;
                                }
                                .btn-glyph-rounded{
                                    padding:2px 35px;
                                }
                            }
                        }
                        .map-details{

                            dt{
                                color:$yellow;
                                font-size: 16px;
                                height: 10px;
                                float:left;
                            }
                            dd{
                                text-indent: 5px;
                            }

                        }
                        .bottom-img{
                            margin-bottom: -20px;
                            background:url(../img/manok-locator.png) center no-repeat;
                            width: 100%;
                            min-height: 250px;
                        }
                    }
                }
                /*end store locator*/


                /* products and promo list */
               .product-list,.promo-list{
                    .product-content,.promo-content{
                           padding-top:100px;
                                h2{
                                    color:$white;
                                }
                                .tab-content{
                                    text-align: center;
                                    ul{
                                        display: inline-block;
                                         li{
                                                a{
                                                        color: $white;
                                                        outline: none;
                                                        margin: 10px;
                                                        font: 15px "chunkfive";
                                                        text-transform: uppercase;
                                                        &:hover{
                                                            background:#d40c0c;
                                                        }
                                                }
                                            }
                                    }
                                    select{
                                        background:#212121;
                                        top: 25px;
                                        z-index: 7;
                                        font: 15px "chunkfive";
                                        border:none;
                                        outline: none;
                                        height: 40px;
                                        border-radius:3px;
                                        padding: 10px;
                                        float: none;
                                        margin: 0px auto;
                                        text-transform: uppercase;
                                        option{
                                            color: $white;
                                            outline: none;
                                            border:none;
                                            margin: 10px;

                                        }
                                    }


                                }/* end tab content */
                                .product-slider-container{
                                    padding:90px 0;
                                    .item{
                                        h4{
                                            color:$white;
                                            text-transform: uppercase;
                                        }

                                    }
                                }


                     }/* end product-content*/
            }
            .product-details,.promo-details{
                background:$white;
                color:$black;
                .product-details-content,.promo-details-content{
                    height: 0;
                    overflow:hidden;

                    .description {
                        text-align: center;
                        h4,h1,h2{
                            text-transform: uppercase;
                        }
                        span{
                            font-size: 16px;
                        }
                        .share-button{
                            vertical-align: bottom;
                        }
                        span.badge-cat{
                            padding: 6px;
                            background: #a30a0a;
                            text-align: center;
                            color: #fff;
                            font-size: 14px;
                            margin-right: 10px;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                        }
                        .order-share-buttons{

                            & > div{
                                margin: 0 15px;
                            }
                            .btn-group{
                                margin-left: 0;
                            }
                        }

                    }
                }

            }
            /* end product and promo list*/

            /* blog */
                .blog-list{
                    .blog-item{
                        margin-bottom: 60px;
                        .thumbnail{
                            padding:1px;

                        }
                        .blog-list-post{
                            h4{
                                color:#f9ed00;
                                margin: 0;
                            }

                            p{
                                margin-bottom:10px;
                            }
                            .share-button{
                                margin: 0 10px;
                                vertical-align: bottom;
                            }
                        }
                    }
                }

            /* end blog */


            /* chikoys-corner-list */
            .chikoys-corner-list{
                .thumbnail{
                            background:#b10000;
                            border:none;
                            overflow:hidden;
                            .hover-enlarge{
                                position:absolute;
                                width: 100%;
                                height: 100%;
                                background: rgba(0, 0, 3, 0.5);
                                top:300px;
                                left:0;
                                .click-enlarge{
                                    color:$white;
                                    background: rgba(0, 0, 3, 0.8);
                                    border:none;
                                    position:absolute;
                                    left:0;
                                    right:0;
                                    top:0;
                                    bottom:0;
                                    margin:auto;
                                    height: 30px;
                                    padding:5px 15px;
                                    z-index: 5;
                                    display: block;
                                    border-radius:40px;

                                }
                            }
                        }
                    .komiks-shot-details{
                        h4{
                            color:$white;
                            text-transform: uppercase;
                            font-size: 16px;
                        }
                    }
            }
            /* end chikoys-corner-list */


            /*login registration*/
                    .registration-tab{
                        @extend .tab-content;
                        ul{
                             li{
                                a{
                                        text-align:center !important;
                                        margin:10px;
                                        background: -moz-linear-gradient(
                                            top,
                                            #242424 0%,
                                            #3b3b3b 99%,
                                            #242424 50%,
                                            #141414);
                                        background: -webkit-gradient(
                                            linear, left top, left bottom,
                                            from(#242424),
                                            color-stop(0.99, #3b3b3b),
                                            color-stop(0.50, #242424),
                                            to(#141414));
                                        -moz-border-radius: 5px;
                                        -webkit-border-radius: 5px;
                                        border-radius: 5px;
                                        -moz-box-shadow:
                                            0px 1px 3px rgba(000,000,000,0.5),
                                            inset 0px 0px 1px rgba(255,255,255,0.6);
                                        -webkit-box-shadow:
                                            0px 1px 3px rgba(000,000,000,0.5),
                                            inset 0px 0px 1px rgba(255,255,255,0.6);
                                        box-shadow:
                                            0px 1px 3px rgba(000,000,000,0.5),
                                            inset 0px 0px 1px rgba(255,255,255,0.6);
                                        text-shadow:
                                            0px -1px 0px rgba(000,000,000,1),
                                            0px 1px 0px rgba(255,255,255,0.2);
                                            &:hover{
                                                background:#0f0f0f;
                                            }


                                }
                                a.active{
                                    background:#f70909;
                                    position:relative !important;
                                    background: -moz-linear-gradient(
                                    top,
                                    #fa0606 0%,
                                    #f40b0b 50%,
                                    #d40c0c 80%,
                                    #c30505);
                                    background: -webkit-gradient(
                                        linear, left top, left bottom,
                                        from(#fa0606),
                                        color-stop(0.50, #f40b0b),
                                        color-stop(0.80, #d40c0c),
                                        to(#c30505));
                                    -moz-border-radius: 5px;
                                    -webkit-border-radius: 5px;
                                     text-shadow:
                                        0px -1px 0px rgba(000,000,000,0.2),
                                        0px 1px 0px rgba(255,255,255,0.4);

                                }
                                i{
                                    position: absolute;
                                    top: 85%;
                                    margin-left: auto;
                                    margin-right: auto;
                                    left: 0;
                                    right: 0

                                }

                            }

                   }


                }/* end registration tab */
                .registration-login-content{
                    a.yellow{
                        font:14px "chunkfive";
                    }
                    padding-top:50px;
                    & > div {
                        display: none;
                    }
                    .active {
                        display: block !important;
                    }

                    .login{
                        form{
                            input{
                                height: 35px;
                                float:none;
                                margin:10px;
                                color:$black;
                                font:12px "avenir";
                                font-weight: bold;
                                border:#b9b9b9 thin solid;
                                outline: none;
                            }
                            .btn-glyph-rounded{
                                padding:2px 55px;
                            }
                            .btn-glyph{
                                padding:2px 25px;
                                span{
                                        font-size:20px;
                                        line-height: 30px;
                                        vertical-align:bottom;

                                    }
                            }
                        }
                    }

                    .registration{
                        form.registration{

                                    ul{
                                        li{
                                                display: block;
                                                label{
                                                    font:15px "chunkfive";
                                                    color:$yellow;
                                                    text-transform: uppercase;
                                                }
                                                input[type="text"]{
                                                     height: 35px;
                                                     margin-right: 10px;
                                                     color:$black;
                                                     font:12px "avenir";
                                                     font-weight: bold;
                                                     border:#b9b9b9 thin solid;
                                                     outline: none;
                                                }
                                                select{
                                                    height: 35px;
                                                    margin-right: 10px;
                                                    color:$black;
                                                    font:12px "avenir";
                                                     font-weight: bold;
                                                     border:#b9b9b9 thin solid;
                                                     outline: none;
                                                }

                                        }
                                    }
                                    .btn-group{
                                        .btn-rounded{
                                            padding:3px 15px;
                                        }
                                        .btn-glyph-rounded{
                                            padding:2px 25px;
                                        }
                                    }

                        }

                    }




                }
            /* end login registration */

            /*corporate*/
                .corporate-banner{
                    background:url(../img/company-img.jpg) top center no-repeat;
                    min-height: 748px;
                    .our-company{
                        background:rgba(0, 0, 3, 0.5);
                        height: 20%;
                       .our-company-content{
                            top:-30px;
                       }
                    }

                }
                .about-us{
                    background:$white;
                    .heading{
                        span{color:$black;}
                    }

                        span.about-msg{color:#3e3e3e;}

                }
                .news-updates{
                    h2,h4,span{
                        color:$white !important;
                    }
                    h4{
                        text-transform: uppercase;
                    }
                }
                .careers{
                    background:$white;
                   span{
                        color:$black;
                    }
                    .search-careers{
                        span{font-size:16px;}
                        select{
                            margin: 10px 20px;
                            height: 30px;
                            color:#555555;
                            outline: none;
                            font-weight: bold;
                        }
                    }
                    .search-btn{
                        span{
                            color:$white;
                        }
                        .btn-glyph-rounded{
                            padding:3px 35px;
                        }
                        .btn-rounded{
                            padding:4px 20px;
                        }
                    }
                }
                .about-us,.news-updates,.careers{
                    padding-top:30px;
                }
            /*end corporate */

            .news-all{
                padding:30px 0;
            }

            .news-update-list{
                padding-top:60px;
                background:$white;
                .heading{
                    span{color:$black;}
                }
                .update-list-content{
                    .blog-list-post{
                        h4,p{
                            color:$black;
                        }
                        p.details{font-size:16px;}
                    }
                }
                .search-careers{
                    span{
                        color:$black;
                        font-size: 16px;
                    }
                    select{
                        margin: 10px 20px;
                        height: 30px;
                        color:#555555;
                        outline: none;
                        font-weight: bold;
                    }
                }
                .result-list-content{
                    span,p{color:$black;}
                }
                p.title{
                    font-weight: bold;
                    padding:20px 0;
                }

                .btn-group{
                        padding-top:20px !important;
                        span{
                            color:$white !important;
                        }
                        .btn{
                            border:none;
                        }
                }




            }
            /*end result-list*/
            .people-list-content{
                span,p,h1,h2,h3,h4{
                    color:$black;
                }
                .persons-right,.persons-left{
                    border-bottom:#e3e3e3 thin solid;
                    .btn-group{
                        a.read-profile{
                            color:#fff;
                            &:active{
                                color:#fff;
                            }
                        }
                    }
                }
                .person-profile{
                    overflow:hidden;
                    display: none;

                    .content{
                        padding:20px;

                    }
                }
            }


        }/* end section.main */
        /*footer */
       footer{
            width: 100%;
            background:$black;
            min-height: 400px;

            h4 {
                color:$white;
                padding-bottom:40px;
                span{
                    font:12px "avenir";
                }
            }
            ul.footer-nav{
                margin-top: 10px;
                li{
                    display: block;
                    margin-bottom: 15px;
                    a{
                        color:$white;
                        font-size: 12px;

                        &:hover{
                            color:$yellow;
                            text-decoration: none;
                        }
                    }
                }
            }
            .footer-content{

                padding-bottom: 10px;
                .hl{
                    border:#262626 thin solid;
                    height: 1px;
                    width: 100%;
                    position:absolute;
                    top:45px;
                }
                .container >div{
                    margin-bottom: 30px;
                }
                .footer-feedback{
                    .type-form-btn{
                        margin-top: 10px;
                     }
                }
                .share-big{
                    a{
                        margin: 0 4px;
                        display: inline-block;
                    }
                }

                .footer-logo{
                    float:none;
                }
                .footer-address{
                    text-align:center;
                    font-size: 10px;
                    ul{
                        li:first-child{
                            margin: 0 20px;
                        }
                    }
                }
                .copyright{
                    background:url(../img/copyright-bg.jpg) repeat-x;
                    width: 100%;
                    position:absolute;
                    bottom:0;
                    padding:5px 0;
                    text-align: center;
                    & > div{
                            float:none;
                            margin:0 auto;

                            span{
                                font-size: 10px;
                            }
                    }
                }

            }

      }

}/*body*/
@media (min-width:320px) and (max-width: 380px){
    .collapse.in,.collapsing {
          padding-top:50px !important;
    }
    .copyright{
        .container{
            padding:0;
        }
    }

    .registration-login-content{
         a.yellow{
                        font:11px "chunkfive" !important;
                    }

    }

}

@media(min-width:515px) and (max-width:767px){
    #banner{
            max-height:670px;
        }
        .announcement-content{
            .heading{
                margin-top:130px;
            }
        }
        .blog-thumbnail{
            width: 40%;
        }
        .blog-post{
            width: 60%;
        }
}


@media(min-width:320px) and (max-width:515px){
        #banner{
            max-height:560px
        }
        .announcement-content{
            .heading{
                margin-top:130px;
            }
        }
        .komiks-content{
            .komiks-title,.enlarge-komiks{
                clear:both;
                width: 100%;
            }
            .pull-right{
                float:none !important;
            }
        }
        .our-company{
            height: 30% !important;
        }
        .about-entry{
            .about-img{
                width: 100%;
            }
            .description{
                width: 100%;
            }
        }



}
@media(max-width:767px){
    .registration{
            input[type="text"]{
                margin-bottom: 20px;
            }
        }
        .persons-left,.persons-right{
           & > div{
                width: 100%;
           }
           .btn-group{
                padding-bottom:20px;
           }
        }
}

/*--------------------------------------------
    Icons
--------------------------------------------*/
i.bike{
    background:url(../img/bike.png) 0 0 no-repeat;
    width: 69px;
    height: 37px;
    display: inline-block;
}

i.social-icons-sprite, .social-icons-facebook-big, .social-icons-facebook, .social-icons-instagram-big, .social-icons-instagram, .social-icons-twitter-big, .social-icons-twitter, .social-icons-youtube-big, .social-icons-youtube {
  background: url('../img/social-icons-s2193ead773.png') no-repeat;
}

i.social-icons-facebook-big,.social-icons-youtube-big,.social-icons-twitter-big,.social-icons-instagram-big{
    height: 60px;
    width: 60px;
    display: inline-block;

}
i.social-icons-facebook,.social-icons-youtube,.social-icons-twitter,.social-icons-instagram{
    height: 18px;
    width: 18px;
    display: inline-block;
    top: 5px;
    padding: 9px 12px;
    position: relative;
}

i.social-icons-facebook-big {
  background-position: 0 -180px;
}


i.social-icons-facebook {
  background-position: 0 -276px;
}


i.social-icons-instagram-big {
  background-position: 0 0;
}


i.social-icons-instagram {
  background-position: 0 -240px;
}


i.social-icons-twitter-big {
  background-position: 0 -60px;
}


i.social-icons-twitter {
  background-position: 0 -258px;
}


i.social-icons-youtube-big {
  background-position: 0 -120px;
}

i.social-icons-youtube {
  background-position: 0 -294px;
}
i.arrow-down{
    background:url(../img/arr-down.png) 0 0 no-repeat;
    width: 39px;
    height: 16px;
    display: block;
}


