/*--------------------------------------------
    Buttons and Forms
--------------------------------------------*/
.btn-glyph-default{
    font-family: "chunkfive";
    line-height: 2;
    font-size: 15px;
    color: $white;
    background:#f70909;
    background: -moz-linear-gradient(
        top,
        #fa0606 0%,
        #f40b0b 50%,
        #d40c0c 80%,
        #c30505);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#fa0606),
        color-stop(0.50, #f40b0b),
        color-stop(0.80, #d40c0c),
        to(#c30505));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ad0000;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,0.4);
        outline: none;
        padding: 5px 15px;
        &:hover,:active{
            color:#e3e3e3;
            background:#f70909;
            background: -moz-linear-gradient(
                top,
                #a00808 0%,
                #b70303);
            background: -webkit-gradient(
                linear, left top, left bottom,
                from(#a00808),
                to(#b70303));
        }
}

.btn-glyph {
    line-height: 2;
    color:$white;
    background:#a80c0c;
    background: -moz-linear-gradient(
        top,
        #a00808 0%,
        #b70303);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#a00808),
        to(#b70303));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ad0000;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,0.4);
        &:hover,:active{
            color:#e3e3e3;
            background:#f70909;
            background: -moz-linear-gradient(
                top,
                #a00808 0%,
                #b70303);
            background: -webkit-gradient(
                linear, left top, left bottom,
                from(#a00808),
                to(#b70303));
        }

}

.btn-glyph-rounded{
    font-family: "chunkfive";
    line-height: 2;
    font-size: 15px;
    color: $white;
    background:#f70909;
    background: -moz-linear-gradient(
        top,
        #fa0606 0%,
        #f40b0b 50%,
        #d40c0c 80%,
        #c30505);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#fa0606),
        color-stop(0.50, #f40b0b),
        color-stop(0.80, #d40c0c),
        to(#c30505));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    border: 1px solid #ad0000;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,0.4);
        outline: none;
        padding: 5px 15px;
        &:hover,:active{
            color:#e3e3e3;
            background:#f70909;
            background: -moz-linear-gradient(
                top,
                #a00808 0%,
                #b70303);
            background: -webkit-gradient(
                linear, left top, left bottom,
                from(#a00808),
                to(#b70303));
        }
}

.btn-rounded {
    line-height: 2;
    color:$white;
    background:#a80c0c;
    background: -moz-linear-gradient(
        top,
        #a00808 0%,
        #b70303);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#a00808),
        to(#b70303));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    border: 1px solid #ad0000;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,0.4);
        &:hover,:active{
            color:#e3e3e3;
            background:#f70909;
            background: -moz-linear-gradient(
                top,
                #a00808 0%,
                #b70303);
            background: -webkit-gradient(
                linear, left top, left bottom,
                from(#a00808),
                to(#b70303));
        }

}


.btn-default{
    font-family: "chunkfive";
    line-height: 2;
    font-size: 15px;
    color: $white;
    background:#f70909;
    background: -moz-linear-gradient(
        top,
        #fa0606 0%,
        #f40b0b 50%,
        #d40c0c 80%,
        #c30505);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#fa0606),
        color-stop(0.50, #f40b0b),
        color-stop(0.80, #d40c0c),
        to(#c30505));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ad0000;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,0.4);
        outline: none;
        padding: 5px 15px;
        &:hover,:active{
            color:#e3e3e3;
            background:#f70909;
            background: -moz-linear-gradient(
                top,
                #a00808 0%,
                #b70303);
            background: -webkit-gradient(
                linear, left top, left bottom,
                from(#a00808),
                to(#b70303));
        }
}

.btn-glyph-gray{
    background:#161616;
    background: -moz-linear-gradient(
        top,
        #252525 0%,
        #161616);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#252525),
        to(#080808));
        &:hover{
            background:#323232;
            background: -moz-linear-gradient(
                top,
                #212021 0%,
                #323232);
            background: -webkit-gradient(
                linear, left top, left bottom,
                from(#212021),
                to(#323232));
        }
}
.btn-glyph-light-gray{
    background:#555555;
    color:$black;
    background: -moz-linear-gradient(
        top,
        #555555 0%,
        #3b3b3b);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#555555),
        to(#3b3b3b));
        &:hover{
            color:$black;
            background:#555555;
            background: -moz-linear-gradient(
                top,
                #555555 0%,
                #3b3b3b);
            background: -webkit-gradient(
                linear, left top, left bottom,
                from(#555555),
                to(#3b3b3b));
        }
}
.btn-group{
    padding:0;
}


.dropdowns{
    select{
        width: 100%;
        color:$white;
        margin-bottom: 10px;
        background:#212121;
        border:#1b1b1b thin solid;
        outline:none;
        border-radius:3px;
        height: 28px;
        font:13px "chunkfive";
        text-transform: uppercase;

        option{
            text-indent: 10px;
            color:$white;

        }
    }
}

footer{
    form{
        span.glyphicon{
            color:#e10d09;
        }
        label{
            font-weight: normal;
        }
        input{
            height: 30px;
            outline: none;
            width: 100%;
            color:#000;
            text-indent: 10px;
        }
    }
}


.type-form{
     height: 100px;
     position: relative;
     overflow: hidden;
     padding: 0;
     .type-form-btn{
        margin-top: 10px;
     }
     ul{
        list-style: none;
        padding: 0;
        margin: -10px 0 0;
        overflow: hidden;
        height: auto;
        position: absolute;
        width: 100%;
        top: 0;
        transition: top;

         li.item{
            display: block;
            opacity: 0.3;
            height: 130px ;
            width: 100%;
            padding: 0;

            label{
                display: block;
            }

            &.active{
                opacity: 1;
                transition: all 800ms;
                width: 100%;
                padding-top: 20px;
            }

            input, textarea, select{
                color: #111;

            }

            input[type="text"]{
                border: solid 1px #333;
                padding: 5px;
                width: 280px;
            }

            textarea{
                border: solid 1px #333;
                padding: 5px;
                width: 280px;
                resize: none;
                height: 30px;
            }

            .error{
                padding: 5px;
                margin-top: 10px;
                color: #ccc;
                background: #333;
                display: inline-block;
                font-size: 10px;
                position: relative;
                &:before{
                    content:'';
                    border-bottom: solid 7px #333;
                    border-left: solid 5px transparent;
                    border-right: solid 5px transparent;
                    position: absolute;
                    top: -7px;
                    left: 7px;
                }
            }
        }
    }
}


#feedback.type-form{
        height: 250px;

        ul{
            li{
                padding-top: 50px;

                .error{
                    margin-top: 0;
                    margin-left: 10px;
                    position: absolute;

                    &:before{
                        content:'';
                        border-top: solid 5px transparent;
                        border-bottom: solid 5px transparent;
                        border-right: solid 7px #333;
                        border-left: none;
                        position: absolute;
                        top: 7px;
                        left: -7px;
                }
                }
            }
        }
}
