/*--------------------------------------------
    Desktop
--------------------------------------------*/
@media (min-width: 992px) {
    body {
        header {
            .navbar {
                a {
                    color:#fff;
                    &:hover {
                        background:none;
                        color:#fcef00;
                    }
                }
                a.navbar-brand {
                    width: 100% !important;
                }
                li.yellow-nav {
                    background:#e3d700;
                    border-right: #000 thin solid;
                    right: -25px;
                    i{
                        position: absolute;
                        color: #e3d700;
                        top: 13px;
                        left: -8px;
                        font-size: 25px;
                    }
                    a {
                        color:#000;
                        &:hover {
                            color:#fff;
                        }
                    }
                }
                .second-nav {
                    position:absolute;
                    font-size: 14px;
                    top: 100%;
                    left: 25%;
                    z-index: 7;
                    li {
                        a {
                            margin: 0 12px;
                        }
                    }
                }
                .navbar-toggle {
                    .icon-bar {
                        height: 7px;
                        width: 41px;
                        background:#ded100;
                    }
                }
            }
        }
         .title-heading {
            &:before {
                width: 30% !important;
            }
            &:after {
                width: 30% !important;
            }
        }
    }
    .footer-logo{
        float:right !important;
    }
    .footer-address{
        text-align:right !important;

    }
    .copyright{
        text-align:right !important;

    }
 .footer-address,.copyright .container,.footer-logo{
        padding: 0 100px;
    }


}
/*end 992*/

@media (min-width: 992px) and (max-width:1024px) {
        .welcome{
            width: 92%;
        }
        .komiks-title{
            text-align:left;
            width: 45%;
        }
        .enlarge-komiks{
            width: 55%;
        }
        .second-nav{
            width: 78%;
            left: 25% !important;
        }
        li.yellow-nav{
            right:-15px;
        }



}



 @media (min-width: 1200px) and (max-width:1366px){
        .copyright{
                text-align:right !important;

            }

}

