/*--------------------------------------------
    Fonts
--------------------------------------------*/
@font-face {
    font-family: 'avenir';
    src: url('../fonts/AvenirLTStd-Medium.eot');
    src: url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirLTStd-Medium.woff') format('woff'),
         url('../fonts/AvenirLTStd-Medium.ttf') format('truetype'),
         url('../fonts/AvenirLTStd-Medium.svg#base_font') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chunkfive';
    src: url('../fonts/chunkfive-webfont.eot');
    src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive-webfont.svg#heading_font') format('svg');
    font-weight: normal;
    font-style: normal;
}
