/*--------------------------------------------
    Tablets
--------------------------------------------*/
@media (min-width: 768px){
    .welcome{
                    background:#000;
                    z-index: 3;
                    top:100px;
                    margin:-15px auto;
                    border:#fff thin dashed;

                    .row{
                        border:#fff thin solid;
                        .welcome-content{

                            padding:15px 30px;
                            border-bottom:none;
                        }
                        .delivery-details{
                            border-left:#fff thin solid;
                            border-top:none !important;
                            dt{

                                text-align:left !important;
                            }

                        }
                    }

    }
     .title-heading {
                &:before {
                    width: 20% !important;
                }
                &:after {
                    width: 20% !important;
                }
    }
    .tab-content{
                ul{
                     li{

                        a{
                                text-align:center !important;
                                margin:10px;
                                background: -moz-linear-gradient(
                                    top,
                                    #242424 0%,
                                    #3b3b3b 99%,
                                    #242424 50%,
                                    #141414);
                                background: -webkit-gradient(
                                    linear, left top, left bottom,
                                    from(#242424),
                                    color-stop(0.99, #3b3b3b),
                                    color-stop(0.50, #242424),
                                    to(#141414));
                                -moz-border-radius: 5px;
                                -webkit-border-radius: 5px;
                                border-radius: 5px;
                                -moz-box-shadow:
                                    0px 1px 3px rgba(000,000,000,0.5),
                                    inset 0px 0px 1px rgba(255,255,255,0.6);
                                -webkit-box-shadow:
                                    0px 1px 3px rgba(000,000,000,0.5),
                                    inset 0px 0px 1px rgba(255,255,255,0.6);
                                box-shadow:
                                    0px 1px 3px rgba(000,000,000,0.5),
                                    inset 0px 0px 1px rgba(255,255,255,0.6);
                                text-shadow:
                                    0px -1px 0px rgba(000,000,000,1),
                                    0px 1px 0px rgba(255,255,255,0.2);
                                    &:hover{
                                        background:#0f0f0f;
                                    }


                        }
                        a.active{
                            background:#f70909;
                            position:relative !important;
                            background: -moz-linear-gradient(
                            top,
                            #fa0606 0%,
                            #f40b0b 50%,
                            #d40c0c 80%,
                            #c30505);
                            background: -webkit-gradient(
                                linear, left top, left bottom,
                                from(#fa0606),
                                color-stop(0.50, #f40b0b),
                                color-stop(0.80, #d40c0c),
                                to(#c30505));
                            -moz-border-radius: 5px;
                            -webkit-border-radius: 5px;
                             text-shadow:
                                0px -1px 0px rgba(000,000,000,0.2),
                                0px 1px 0px rgba(255,255,255,0.4);

                        }
                        i{
                            position: absolute;
                            top: 85%;
                            margin-left: auto;
                            margin-right: auto;
                            left: 0;
                            right: 0

                        }

                    }

           }


        }/* end tab content */
        .product-details,.promo-details{
                .product-details-content,.promo-details-content{
                       .description {
                            text-align:left !important;
                        }

                }

        }
        /* blog */
        .blog-list{
                .thumbnail{
                     img{
                        width: 100%;
                    }
                }
        }


    /* end blog */


}

@media (max-width:768px){
    .tab-content{
        ul{
            &.chikoys-tab{
                        li{
                            display: inline-block;
                            width: 30%;
                        }
                    }
        }
    }
}
