section.main div.news-update-list div.people-list-content div.row div#blog-slider{
width: 100%;
background-color: #000;
margin-bottom: 20px;
padding-bottom: 5px;
}
section.main div.news-update-list div.people-list-content div.row div.thumbnail {
margin-bottom: 0px;
}
section.main div.news-update-list div.people-list-content div.row div#blog-slider div#owl-custom-ctg {
padding: 0 50px;
}
section.main div.news-update-list div.people-list-content div.row div#blog-slider div#owl-custom-ctg div.owl-wrapper-outer div.owl-wrapper div.owl-item {
max-height: 100px !important;
text-align: center;
padding: 5px 10px 0px;
box-sizing: border-box;
}
section.main div.news-update-list div.people-list-content div.row div#blog-slider div#owl-custom-ctg .item {
background-color: #222;
height: 90px !important;
}
section.main div.news-update-list div.people-list-content div.row div#blog-slider div#owl-custom-ctg div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item img {
display: inline-block;
height: 100%;
width: auto;
}
section.main div.news-update-list div.people-list-content div.row div#blog-slider div#owl-custom-ctg div.owl-controls {
display: none !important;
}

@media (max-width: 360px ) {
section.main div.news-update-list div.people-list-content div.row div#blog-slider div#owl-custom-ctg {
padding: 0 5px;
}
section.main div.news-update-list div.people-list-content div.row div#blog-slider div#owl-custom-ctg .item {
height: auto !important;
}
section.main div.news-update-list div.people-list-content div.row div#blog-slider div#owl-custom-ctg div.owl-wrapper-outer div.owl-wrapper div.owl-item {
max-height: none !important;
}
section.main div.news-update-list div.people-list-content div.row div#blog-slider div#owl-custom-ctg div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item img {
display: block;
height: 100%;
width: 100%;
}
section.main div.news-update-list div.people-list-content div.row div#blog-slider div#owl-custom-ctg div.owl-controls {
display: block !important;
padding: 20px 5px 15px;
background-color: #000 !important;
}
section.main div.news-update-list div.people-list-content div.row div#blog-slider div#owl-custom-ctg div.owl-controls div.owl-pagination div.owl-page span { 
background-color: #ff0 !important;
border-radius: 0px !important;
}
section.main div.news-update-list div.people-list-content div.row div#blog-slider{
width: 100%;
background-color: #fff;
margin-bottom: 20px;
padding-bottom: 5px;
}
section.main div.news-update-list div.people-list-content div.row div.thumbnail {
display: none;
}


}