/*--------------------------------------------
    Fonts
--------------------------------------------*/
@font-face {
  font-family: 'avenir';
  src: url("../fonts/AvenirLTStd-Medium.eot");
  src: url("../fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Medium.woff") format("woff"), url("../fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("../fonts/AvenirLTStd-Medium.svg#base_font") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'chunkfive';
  src: url("../fonts/chunkfive-webfont.eot");
  src: url("../fonts/chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/chunkfive-webfont.woff") format("woff"), url("../fonts/chunkfive-webfont.ttf") format("truetype"), url("../fonts/chunkfive-webfont.svg#heading_font") format("svg");
  font-weight: normal;
  font-style: normal; }
.browsehappy {
  background: #ccc;
  color: #000;
  text-align: center;
  font-size: 18px; }

/*colors*/
/*defaults*/
div {
  position: relative; }

button {
  outline: none !important; }

.img-responsive {
  margin: 0 auto; }

ul {
  list-style-type: none;
  padding: 0; }
  ul li {
    display: inline-block; }

.heading span {
  font-size: 16px; }

.txtcenter {
  text-align: center; }

.relative-center {
  float: none;
  margin: 0 auto; }

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.clear {
  clear: both; }

.unpadded {
  padding: 0 !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "chunkfive";
  color: black; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 18px; }

.yellow {
  color: #e3d700 !important; }

body {
  font: 14px "avenir";
  color: white;
  /*header*/
  /* end section.main */
  /*footer */ }
  body header .navbar {
    background: black;
    font-family: "chunkfive";
    border-radius: 0;
    margin-bottom: 0; }
    body header .navbar .navbar-collapse {
      box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.1);
      -webkit-overflow-scrolling: touch; }
    body header .navbar .navbar-nav {
      margin: 0; }
    body header .navbar a {
      color: white;
      padding: 15px 10px; }
      body header .navbar a:hover {
        background: rgba(198, 197, 195, 0.2);
        color: #e3d700; }
    body header .navbar a.navbar-brand {
      padding: 0px;
      width: 50%;
      position: relative;
      z-index: 10; }
      body header .navbar a.navbar-brand:hover {
        background: none; }
    body header .navbar .navbar-toggle .icon-bar {
      height: 7px;
      width: 41px;
      background: #e3d700; }
    body header .navbar .collapse.in, body header .navbar .collapsing {
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      z-index: 9;
      width: 100%;
      padding-top: 100px;
      min-height: 800px; }
  body section.main {
    background: black;
    /* end chooks-blog */
    /* store locator */
    /*end store locator*/
    /* products and promo list */
    /* end product and promo list*/
    /* blog */
    /* end blog */
    /* chikoys-corner-list */
    /* end chikoys-corner-list */
    /*login registration*/
    /* end registration tab */
    /* end login registration */
    /*corporate*/
    /*end corporate */
    /*end result-list*/ }
    body section.main .share-button {
      display: inline-block; }
    body section.main .banner-bg {
      background: #db0000 url(../img/banner-bg.jpg) top center; }
      body section.main .banner-bg .slider-container {
        top: 100px; }
    body section.main .welcome {
      background: black;
      z-index: 3;
      top: 100px;
      margin: 0 auto;
      border: white thin dashed;
      position: relative;
      float: none; }
      body section.main .welcome .row {
        border: white thin solid; }
        body section.main .welcome .row .welcome-content {
          padding: 30px;
          border-bottom: none; }
        body section.main .welcome .row .delivery-details {
          border-top: white thin solid;
          text-align: center;
          background: url(../img/fire.png) bottom repeat-x; }
          body section.main .welcome .row .delivery-details h1 {
            margin: 0;
            color: white; }
          body section.main .welcome .row .delivery-details dt {
            font-size: 10px;
            text-align: center; }
          body section.main .welcome .row .delivery-details .btn-group {
            padding-bottom: 15px; }
    body section.main .title-heading:before {
      content: '';
      border-top: solid 1px #d6d6d6;
      display: block;
      width: 8%;
      position: absolute;
      top: 10px;
      z-index: 1; }
    body section.main .title-heading:after {
      content: '';
      border-top: solid 1px #d6d6d6;
      display: block;
      width: 8%;
      right: 0;
      position: absolute;
      top: 10px;
      z-index: 1; }
    body section.main .wave:before {
      content: '';
      height: 11px;
      background: url(../img/bg-wave.png) center;
      width: 100%;
      z-index: 2;
      display: block;
      position: absolute;
      top: -5px; }
    body section.main .wave:after {
      content: '';
      height: 11px;
      background: url(../img/bg-wave.png) center;
      width: 100%;
      z-index: 2;
      display: block;
      position: absolute;
      bottom: -6px; }
    body section.main .mosaic-bg {
      background: url(../img/mosaic-bg.jpg) repeat; }
    body section.main .announcement {
      background: white; }
      body section.main .announcement .announcement-content {
        padding-top: 150px; }
        body section.main .announcement .announcement-content .heading {
          color: black; }
        body section.main .announcement .announcement-content #announcement-banner .item .description span.announcement-msg {
          color: #3e3e3e;
          font-size: 16px; }
    body section.main .chooks-blog .chooks-blog-content .blog-post-container .view-all {
      padding: 15px 0;
      border-top: #b2b2b2 2px solid; }
    body section.main .chooks-blog .chooks-blog-content .blog-post-container .share-button {
      top: -20px; }
    body section.main .chooks-blog .chooks-blog-content .post .thumbnail {
      background: #e3e3e3;
      border: #8f8f8f thin solid; }
    body section.main .chooks-blog .chooks-blog-content .post .blog-post span.blog-post-details {
      text-overflow: ellipsis;
      color: #3e3e3e; }
    body section.main .chooks-blog .komiks-container .komiks-content {
      margin-top: 30px;
      background: black;
      min-height: 400px; }
      body section.main .chooks-blog .komiks-container .komiks-content h3 {
        color: white; }
      body section.main .chooks-blog .komiks-container .komiks-content .heading {
        margin: 0; }
    body section.main .chooks-blog .komiks-container .enlarge-komiks {
      margin-top: 10px; }
    body section.main .store-locator {
      min-height: 600px; }
      body section.main .store-locator .store-locator-content {
        padding-top: 50px; }
        body section.main .store-locator .store-locator-content h2, body section.main .store-locator .store-locator-content h4, body section.main .store-locator .store-locator-content span {
          color: white; }
        body section.main .store-locator .store-locator-content .map {
          z-index: 4; }
          body section.main .store-locator .store-locator-content .map .find-store {
            top: -20px !important; }
            body section.main .store-locator .store-locator-content .map .find-store .btn-rounded {
              padding: 3px 20px; }
            body section.main .store-locator .store-locator-content .map .find-store .btn-glyph-rounded {
              padding: 2px 35px; }
        body section.main .store-locator .store-locator-content .map-details dt {
          color: #e3d700;
          font-size: 16px;
          height: 10px;
          float: left; }
        body section.main .store-locator .store-locator-content .map-details dd {
          text-indent: 5px; }
        body section.main .store-locator .store-locator-content .bottom-img {
          margin-bottom: -20px;
          background: url(../img/manok-locator.png) center no-repeat;
          width: 100%;
          min-height: 250px; }
    body section.main .product-list, body section.main .promo-list {
      /* end product-content*/ }
      body section.main .product-list .product-content, body section.main .product-list .promo-content, body section.main .promo-list .product-content, body section.main .promo-list .promo-content {
        padding-top: 100px;
        /* end tab content */ }
        body section.main .product-list .product-content h2, body section.main .product-list .promo-content h2, body section.main .promo-list .product-content h2, body section.main .promo-list .promo-content h2 {
          color: white; }
        body section.main .product-list .product-content .tab-content, body section.main .product-list .product-content .registration-tab, body section.main .product-list .promo-content .tab-content, body section.main .product-list .promo-content .registration-tab, body section.main .promo-list .product-content .tab-content, body section.main .promo-list .product-content .registration-tab, body section.main .promo-list .promo-content .tab-content, body section.main .promo-list .promo-content .registration-tab {
          text-align: center; }
          body section.main .product-list .product-content .tab-content ul, body section.main .product-list .product-content .registration-tab ul, body section.main .product-list .promo-content .tab-content ul, body section.main .product-list .promo-content .registration-tab ul, body section.main .promo-list .product-content .tab-content ul, body section.main .promo-list .product-content .registration-tab ul, body section.main .promo-list .promo-content .tab-content ul, body section.main .promo-list .promo-content .registration-tab ul {
            display: inline-block; }
            body section.main .product-list .product-content .tab-content ul li a, body section.main .product-list .product-content .registration-tab ul li a, body section.main .product-list .promo-content .tab-content ul li a, body section.main .product-list .promo-content .registration-tab ul li a, body section.main .promo-list .product-content .tab-content ul li a, body section.main .promo-list .product-content .registration-tab ul li a, body section.main .promo-list .promo-content .tab-content ul li a, body section.main .promo-list .promo-content .registration-tab ul li a {
              color: white;
              outline: none;
              margin: 10px;
              font: 15px "chunkfive";
              text-transform: uppercase; }
              body section.main .product-list .product-content .tab-content ul li a:hover, body section.main .product-list .product-content .registration-tab ul li a:hover, body section.main .product-list .promo-content .tab-content ul li a:hover, body section.main .product-list .promo-content .registration-tab ul li a:hover, body section.main .promo-list .product-content .tab-content ul li a:hover, body section.main .promo-list .product-content .registration-tab ul li a:hover, body section.main .promo-list .promo-content .tab-content ul li a:hover, body section.main .promo-list .promo-content .registration-tab ul li a:hover {
                background: #d40c0c; }
          body section.main .product-list .product-content .tab-content select, body section.main .product-list .product-content .registration-tab select, body section.main .product-list .promo-content .tab-content select, body section.main .product-list .promo-content .registration-tab select, body section.main .promo-list .product-content .tab-content select, body section.main .promo-list .product-content .registration-tab select, body section.main .promo-list .promo-content .tab-content select, body section.main .promo-list .promo-content .registration-tab select {
            background: #212121;
            top: 25px;
            z-index: 7;
            font: 15px "chunkfive";
            border: none;
            outline: none;
            height: 40px;
            border-radius: 3px;
            padding: 10px;
            float: none;
            margin: 0px auto;
            text-transform: uppercase; }
            body section.main .product-list .product-content .tab-content select option, body section.main .product-list .product-content .registration-tab select option, body section.main .product-list .promo-content .tab-content select option, body section.main .product-list .promo-content .registration-tab select option, body section.main .promo-list .product-content .tab-content select option, body section.main .promo-list .product-content .registration-tab select option, body section.main .promo-list .promo-content .tab-content select option, body section.main .promo-list .promo-content .registration-tab select option {
              color: white;
              outline: none;
              border: none;
              margin: 10px; }
        body section.main .product-list .product-content .product-slider-container, body section.main .product-list .promo-content .product-slider-container, body section.main .promo-list .product-content .product-slider-container, body section.main .promo-list .promo-content .product-slider-container {
          padding: 90px 0; }
          body section.main .product-list .product-content .product-slider-container .item h4, body section.main .product-list .promo-content .product-slider-container .item h4, body section.main .promo-list .product-content .product-slider-container .item h4, body section.main .promo-list .promo-content .product-slider-container .item h4 {
            color: white;
            text-transform: uppercase; }
    body section.main .product-details, body section.main .promo-details {
      background: white;
      color: black; }
      body section.main .product-details .product-details-content, body section.main .product-details .promo-details-content, body section.main .promo-details .product-details-content, body section.main .promo-details .promo-details-content {
        height: 0;
        overflow: hidden; }
        body section.main .product-details .product-details-content .description, body section.main .product-details .promo-details-content .description, body section.main .promo-details .product-details-content .description, body section.main .promo-details .promo-details-content .description {
          text-align: center; }
          body section.main .product-details .product-details-content .description h4, body section.main .product-details .product-details-content .description h1, body section.main .product-details .product-details-content .description h2, body section.main .product-details .promo-details-content .description h4, body section.main .product-details .promo-details-content .description h1, body section.main .product-details .promo-details-content .description h2, body section.main .promo-details .product-details-content .description h4, body section.main .promo-details .product-details-content .description h1, body section.main .promo-details .product-details-content .description h2, body section.main .promo-details .promo-details-content .description h4, body section.main .promo-details .promo-details-content .description h1, body section.main .promo-details .promo-details-content .description h2 {
            text-transform: uppercase; }
          body section.main .product-details .product-details-content .description span, body section.main .product-details .promo-details-content .description span, body section.main .promo-details .product-details-content .description span, body section.main .promo-details .promo-details-content .description span {
            font-size: 16px; }
          body section.main .product-details .product-details-content .description .share-button, body section.main .product-details .promo-details-content .description .share-button, body section.main .promo-details .product-details-content .description .share-button, body section.main .promo-details .promo-details-content .description .share-button {
            vertical-align: bottom; }
          body section.main .product-details .product-details-content .description span.badge-cat, body section.main .product-details .promo-details-content .description span.badge-cat, body section.main .promo-details .product-details-content .description span.badge-cat, body section.main .promo-details .promo-details-content .description span.badge-cat {
            padding: 6px;
            background: #a30a0a;
            text-align: center;
            color: #fff;
            font-size: 14px;
            margin-right: 10px;
            margin-bottom: 10px;
            text-transform: uppercase; }
          body section.main .product-details .product-details-content .description .order-share-buttons > div, body section.main .product-details .promo-details-content .description .order-share-buttons > div, body section.main .promo-details .product-details-content .description .order-share-buttons > div, body section.main .promo-details .promo-details-content .description .order-share-buttons > div {
            margin: 0 15px; }
          body section.main .product-details .product-details-content .description .order-share-buttons .btn-group, body section.main .product-details .promo-details-content .description .order-share-buttons .btn-group, body section.main .promo-details .product-details-content .description .order-share-buttons .btn-group, body section.main .promo-details .promo-details-content .description .order-share-buttons .btn-group {
            margin-left: 0; }
    body section.main .blog-list .blog-item {
      margin-bottom: 60px; }
      body section.main .blog-list .blog-item .thumbnail {
        padding: 1px; }
      body section.main .blog-list .blog-item .blog-list-post h4 {
        color: #f9ed00;
        margin: 0; }
      body section.main .blog-list .blog-item .blog-list-post p {
        margin-bottom: 10px; }
      body section.main .blog-list .blog-item .blog-list-post .share-button {
        margin: 0 10px;
        vertical-align: bottom; }
    body section.main .chikoys-corner-list .thumbnail {
      background: #b10000;
      border: none;
      overflow: hidden; }
      body section.main .chikoys-corner-list .thumbnail .hover-enlarge {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 3, 0.5);
        top: 300px;
        left: 0; }
        body section.main .chikoys-corner-list .thumbnail .hover-enlarge .click-enlarge {
          color: white;
          background: rgba(0, 0, 3, 0.8);
          border: none;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          height: 30px;
          padding: 5px 15px;
          z-index: 5;
          display: block;
          border-radius: 40px; }
    body section.main .chikoys-corner-list .komiks-shot-details h4 {
      color: white;
      text-transform: uppercase;
      font-size: 16px; }
    body section.main .registration-tab ul li a {
      text-align: center !important;
      margin: 10px;
      background: -moz-linear-gradient(top, #242424 0%, #3b3b3b 99%, #242424 50%, #141414);
      background: -webkit-gradient(linear, left top, left bottom, from(#242424), color-stop(0.99, #3b3b3b), color-stop(0.5, #242424), to(#141414));
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.6);
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.6);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.6);
      text-shadow: 0px -1px 0px black, 0px 1px 0px rgba(255, 255, 255, 0.2); }
      body section.main .registration-tab ul li a:hover {
        background: #0f0f0f; }
    body section.main .registration-tab ul li a.active {
      background: #f70909;
      position: relative !important;
      background: -moz-linear-gradient(top, #fa0606 0%, #f40b0b 50%, #d40c0c 80%, #c30505);
      background: -webkit-gradient(linear, left top, left bottom, from(#fa0606), color-stop(0.5, #f40b0b), color-stop(0.8, #d40c0c), to(#c30505));
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.4); }
    body section.main .registration-tab ul li i {
      position: absolute;
      top: 85%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0; }
    body section.main .registration-login-content {
      padding-top: 50px; }
      body section.main .registration-login-content a.yellow {
        font: 14px "chunkfive"; }
      body section.main .registration-login-content > div {
        display: none; }
      body section.main .registration-login-content .active {
        display: block !important; }
      body section.main .registration-login-content .login form input {
        height: 35px;
        float: none;
        margin: 10px;
        color: black;
        font: 12px "avenir";
        font-weight: bold;
        border: #b9b9b9 thin solid;
        outline: none; }
      body section.main .registration-login-content .login form .btn-glyph-rounded {
        padding: 2px 55px; }
      body section.main .registration-login-content .login form .btn-glyph {
        padding: 2px 25px; }
        body section.main .registration-login-content .login form .btn-glyph span {
          font-size: 20px;
          line-height: 30px;
          vertical-align: bottom; }
      body section.main .registration-login-content .registration form.registration ul li {
        display: block; }
        body section.main .registration-login-content .registration form.registration ul li label {
          font: 15px "chunkfive";
          color: #e3d700;
          text-transform: uppercase; }
        body section.main .registration-login-content .registration form.registration ul li input[type="text"] {
          height: 35px;
          margin-right: 10px;
          color: black;
          font: 12px "avenir";
          font-weight: bold;
          border: #b9b9b9 thin solid;
          outline: none; }
        body section.main .registration-login-content .registration form.registration ul li select {
          height: 35px;
          margin-right: 10px;
          color: black;
          font: 12px "avenir";
          font-weight: bold;
          border: #b9b9b9 thin solid;
          outline: none; }
      body section.main .registration-login-content .registration form.registration .btn-group .btn-rounded {
        padding: 3px 15px; }
      body section.main .registration-login-content .registration form.registration .btn-group .btn-glyph-rounded {
        padding: 2px 25px; }
    body section.main .corporate-banner {
      background: url(../img/company-img.jpg) top center no-repeat;
      min-height: 748px; }
      body section.main .corporate-banner .our-company {
        background: rgba(0, 0, 3, 0.5);
        height: 20%; }
        body section.main .corporate-banner .our-company .our-company-content {
          top: -30px; }
    body section.main .about-us {
      background: white; }
      body section.main .about-us .heading span {
        color: black; }
      body section.main .about-us span.about-msg {
        color: #3e3e3e; }
    body section.main .news-updates h2, body section.main .news-updates h4, body section.main .news-updates span {
      color: white !important; }
    body section.main .news-updates h4 {
      text-transform: uppercase; }
    body section.main .careers {
      background: white; }
      body section.main .careers span {
        color: black; }
      body section.main .careers .search-careers span {
        font-size: 16px; }
      body section.main .careers .search-careers select {
        margin: 10px 20px;
        height: 30px;
        color: #555555;
        outline: none;
        font-weight: bold; }
      body section.main .careers .search-btn span {
        color: white; }
      body section.main .careers .search-btn .btn-glyph-rounded {
        padding: 3px 35px; }
      body section.main .careers .search-btn .btn-rounded {
        padding: 4px 20px; }
    body section.main .about-us, body section.main .news-updates, body section.main .careers {
      padding-top: 30px; }
    body section.main .news-all {
      padding: 30px 0; }
    body section.main .news-update-list {
      padding-top: 60px;
      background: white; }
      body section.main .news-update-list .heading span {
        color: black; }
      body section.main .news-update-list .update-list-content .blog-list-post h4, body section.main .news-update-list .update-list-content .blog-list-post p {
        color: black; }
      body section.main .news-update-list .update-list-content .blog-list-post p.details {
        font-size: 16px; }
      body section.main .news-update-list .search-careers span {
        color: black;
        font-size: 16px; }
      body section.main .news-update-list .search-careers select {
        margin: 10px 20px;
        height: 30px;
        color: #555555;
        outline: none;
        font-weight: bold; }
      body section.main .news-update-list .result-list-content span, body section.main .news-update-list .result-list-content p {
        color: black; }
      body section.main .news-update-list p.title {
        font-weight: bold;
        padding: 20px 0; }
      body section.main .news-update-list .btn-group {
        padding-top: 20px !important; }
        body section.main .news-update-list .btn-group span {
          color: white !important; }
        body section.main .news-update-list .btn-group .btn {
          border: none; }
    body section.main .people-list-content span, body section.main .people-list-content p, body section.main .people-list-content h1, body section.main .people-list-content h2, body section.main .people-list-content h3, body section.main .people-list-content h4 {
      color: black; }
    body section.main .people-list-content .persons-right, body section.main .people-list-content .persons-left {
      border-bottom: #e3e3e3 thin solid; }
      body section.main .people-list-content .persons-right .btn-group a.read-profile, body section.main .people-list-content .persons-left .btn-group a.read-profile {
        color: #fff; }
        body section.main .people-list-content .persons-right .btn-group a.read-profile:active, body section.main .people-list-content .persons-left .btn-group a.read-profile:active {
          color: #fff; }
    body section.main .people-list-content .person-profile {
      overflow: hidden;
      display: none; }
      body section.main .people-list-content .person-profile .content {
        padding: 20px; }
  body footer {
    width: 100%;
    background: black;
    min-height: 400px; }
    body footer h4 {
      color: white;
      padding-bottom: 40px; }
      body footer h4 span {
        font: 12px "avenir"; }
    body footer ul.footer-nav {
      margin-top: 10px; }
      body footer ul.footer-nav li {
        display: block;
        margin-bottom: 15px; }
        body footer ul.footer-nav li a {
          color: white;
          font-size: 12px; }
          body footer ul.footer-nav li a:hover {
            color: #e3d700;
            text-decoration: none; }
    body footer .footer-content {
      padding-bottom: 10px; }
      body footer .footer-content .hl {
        border: #262626 thin solid;
        height: 1px;
        width: 100%;
        position: absolute;
        top: 45px; }
      body footer .footer-content .container > div {
        margin-bottom: 30px; }
      body footer .footer-content .footer-feedback .type-form-btn {
        margin-top: 10px; }
      body footer .footer-content .share-big a {
        margin: 0 4px;
        display: inline-block; }
      body footer .footer-content .footer-logo {
        float: none; }
      body footer .footer-content .footer-address {
        text-align: center;
        font-size: 10px; }
        body footer .footer-content .footer-address ul li:first-child {
          margin: 0 20px; }
      body footer .footer-content .copyright {
        background: url(../img/copyright-bg.jpg) repeat-x;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 5px 0;
        text-align: center; }
        body footer .footer-content .copyright > div {
          float: none;
          margin: 0 auto; }
          body footer .footer-content .copyright > div span {
            font-size: 10px; }

/*body*/
@media (min-width: 320px) and (max-width: 380px) {
  .collapse.in, .collapsing {
    padding-top: 50px !important; }

  .copyright .container {
    padding: 0; }

  .registration-login-content a.yellow {
    font: 11px "chunkfive" !important; } }
@media (min-width: 515px) and (max-width: 767px) {
  #banner {
    max-height: 670px; }

  .announcement-content .heading {
    margin-top: 130px; }

  .blog-thumbnail {
    width: 40%; }

  .blog-post {
    width: 60%; } }
@media (min-width: 320px) and (max-width: 515px) {
  #banner {
    max-height: 560px; }

  .announcement-content .heading {
    margin-top: 130px; }

  .komiks-content .komiks-title, .komiks-content .enlarge-komiks {
    clear: both;
    width: 100%; }
  .komiks-content .pull-right {
    float: none !important; }

  .our-company {
    height: 30% !important; }

  .about-entry .about-img {
    width: 100%; }
  .about-entry .description {
    width: 100%; } }
@media (max-width: 767px) {
  .registration input[type="text"] {
    margin-bottom: 20px; }

  .persons-left > div, .persons-right > div {
    width: 100%; }
  .persons-left .btn-group, .persons-right .btn-group {
    padding-bottom: 20px; } }
/*--------------------------------------------
    Icons
--------------------------------------------*/
i.bike {
  background: url(../img/bike.png) 0 0 no-repeat;
  width: 69px;
  height: 37px;
  display: inline-block; }

i.social-icons-sprite, .social-icons-facebook-big, .social-icons-facebook, .social-icons-instagram-big, .social-icons-instagram, .social-icons-twitter-big, .social-icons-twitter, .social-icons-youtube-big, .social-icons-youtube {
  background: url("../img/social-icons-s2193ead773.png") no-repeat; }

i.social-icons-facebook-big, .social-icons-youtube-big, .social-icons-twitter-big, .social-icons-instagram-big {
  height: 60px;
  width: 60px;
  display: inline-block; }

i.social-icons-facebook, .social-icons-youtube, .social-icons-twitter, .social-icons-instagram {
  height: 18px;
  width: 18px;
  display: inline-block;
  top: 5px;
  padding: 9px 12px;
  position: relative; }

i.social-icons-facebook-big {
  background-position: 0 -180px; }

i.social-icons-facebook {
  background-position: 0 -276px; }

i.social-icons-instagram-big {
  background-position: 0 0; }

i.social-icons-instagram {
  background-position: 0 -240px; }

i.social-icons-twitter-big {
  background-position: 0 -60px; }

i.social-icons-twitter {
  background-position: 0 -258px; }

i.social-icons-youtube-big {
  background-position: 0 -120px; }

i.social-icons-youtube {
  background-position: 0 -294px; }

i.arrow-down {
  background: url(../img/arr-down.png) 0 0 no-repeat;
  width: 39px;
  height: 16px;
  display: block; }

/*--------------------------------------------
    Tablets
--------------------------------------------*/
@media (min-width: 768px) {
  .welcome {
    background: #000;
    z-index: 3;
    top: 100px;
    margin: -15px auto;
    border: #fff thin dashed; }
    .welcome .row {
      border: #fff thin solid; }
      .welcome .row .welcome-content {
        padding: 15px 30px;
        border-bottom: none; }
      .welcome .row .delivery-details {
        border-left: #fff thin solid;
        border-top: none !important; }
        .welcome .row .delivery-details dt {
          text-align: left !important; }

  .title-heading:before {
    width: 20% !important; }
  .title-heading:after {
    width: 20% !important; }

  .tab-content ul li a, body section.main .registration-tab ul li a {
    text-align: center !important;
    margin: 10px;
    background: -moz-linear-gradient(top, #242424 0%, #3b3b3b 99%, #242424 50%, #141414);
    background: -webkit-gradient(linear, left top, left bottom, from(#242424), color-stop(0.99, #3b3b3b), color-stop(0.5, #242424), to(#141414));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.6);
    text-shadow: 0px -1px 0px black, 0px 1px 0px rgba(255, 255, 255, 0.2); }
    .tab-content ul li a:hover, body section.main .registration-tab ul li a:hover {
      background: #0f0f0f; }
  .tab-content ul li a.active, body section.main .registration-tab ul li a.active {
    background: #f70909;
    position: relative !important;
    background: -moz-linear-gradient(top, #fa0606 0%, #f40b0b 50%, #d40c0c 80%, #c30505);
    background: -webkit-gradient(linear, left top, left bottom, from(#fa0606), color-stop(0.5, #f40b0b), color-stop(0.8, #d40c0c), to(#c30505));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.4); }
  .tab-content ul li i, body section.main .registration-tab ul li i {
    position: absolute;
    top: 85%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; }

  /* end tab content */
  .product-details .product-details-content .description, .product-details .promo-details-content .description, .promo-details .product-details-content .description, .promo-details .promo-details-content .description {
    text-align: left !important; }

  /* blog */
  .blog-list .thumbnail img {
    width: 100%; }

  /* end blog */ }
@media (max-width: 768px) {
  .tab-content ul.chikoys-tab li, body section.main .registration-tab ul.chikoys-tab li {
    display: inline-block;
    width: 30%; } }
/*--------------------------------------------
    Desktop
--------------------------------------------*/
@media (min-width: 992px) {
  body header .navbar a {
    color: #fff; }
    body header .navbar a:hover {
      background: none;
      color: #fcef00; }
  body header .navbar a.navbar-brand {
    width: 100% !important; }
  body header .navbar li.yellow-nav {
    background: #e3d700;
    border-right: #000 thin solid;
    right: -25px; }
    body header .navbar li.yellow-nav i {
      position: absolute;
      color: #e3d700;
      top: 13px;
      left: -8px;
      font-size: 25px; }
    body header .navbar li.yellow-nav a {
      color: #000; }
      body header .navbar li.yellow-nav a:hover {
        color: #fff; }
  body header .navbar .second-nav {
    position: absolute;
    font-size: 14px;
    top: 100%;
    left: 25%;
    z-index: 7; }
    body header .navbar .second-nav li a {
      margin: 0 12px; }
  body header .navbar .navbar-toggle .icon-bar {
    height: 7px;
    width: 41px;
    background: #ded100; }
  body .title-heading:before {
    width: 30% !important; }
  body .title-heading:after {
    width: 30% !important; }

  .footer-logo {
    float: right !important; }

  .footer-address {
    text-align: right !important; }

  .copyright {
    text-align: right !important; }

  .footer-address, .copyright .container, .footer-logo {
    padding: 0 100px; } }
/*end 992*/
@media (min-width: 992px) and (max-width: 1024px) {
  .welcome {
    width: 92%; }

  .komiks-title {
    text-align: left;
    width: 45%; }

  .enlarge-komiks {
    width: 55%; }

  .second-nav {
    width: 78%;
    left: 25% !important; }

  li.yellow-nav {
    right: -15px; } }
@media (min-width: 1200px) and (max-width: 1366px) {
  .copyright {
    text-align: right !important; } }
/*--------------------------------------------
    Buttons and Forms
--------------------------------------------*/
.btn-glyph-default {
  font-family: "chunkfive";
  line-height: 2;
  font-size: 15px;
  color: white;
  background: #f70909;
  background: -moz-linear-gradient(top, #fa0606 0%, #f40b0b 50%, #d40c0c 80%, #c30505);
  background: -webkit-gradient(linear, left top, left bottom, from(#fa0606), color-stop(0.5, #f40b0b), color-stop(0.8, #d40c0c), to(#c30505));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ad0000;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.4);
  outline: none;
  padding: 5px 15px; }
  .btn-glyph-default:hover, .btn-glyph-default :active {
    color: #e3e3e3;
    background: #f70909;
    background: -moz-linear-gradient(top, #a00808 0%, #b70303);
    background: -webkit-gradient(linear, left top, left bottom, from(#a00808), to(#b70303)); }

.btn-glyph {
  line-height: 2;
  color: white;
  background: #a80c0c;
  background: -moz-linear-gradient(top, #a00808 0%, #b70303);
  background: -webkit-gradient(linear, left top, left bottom, from(#a00808), to(#b70303));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ad0000;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.4); }
  .btn-glyph:hover, .btn-glyph :active {
    color: #e3e3e3;
    background: #f70909;
    background: -moz-linear-gradient(top, #a00808 0%, #b70303);
    background: -webkit-gradient(linear, left top, left bottom, from(#a00808), to(#b70303)); }

.btn-glyph-rounded {
  font-family: "chunkfive";
  line-height: 2;
  font-size: 15px;
  color: white;
  background: #f70909;
  background: -moz-linear-gradient(top, #fa0606 0%, #f40b0b 50%, #d40c0c 80%, #c30505);
  background: -webkit-gradient(linear, left top, left bottom, from(#fa0606), color-stop(0.5, #f40b0b), color-stop(0.8, #d40c0c), to(#c30505));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 25px;
  border: 1px solid #ad0000;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.4);
  outline: none;
  padding: 5px 15px; }
  .btn-glyph-rounded:hover, .btn-glyph-rounded :active {
    color: #e3e3e3;
    background: #f70909;
    background: -moz-linear-gradient(top, #a00808 0%, #b70303);
    background: -webkit-gradient(linear, left top, left bottom, from(#a00808), to(#b70303)); }

.btn-rounded {
  line-height: 2;
  color: white;
  background: #a80c0c;
  background: -moz-linear-gradient(top, #a00808 0%, #b70303);
  background: -webkit-gradient(linear, left top, left bottom, from(#a00808), to(#b70303));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 25px;
  border: 1px solid #ad0000;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.4); }
  .btn-rounded:hover, .btn-rounded :active {
    color: #e3e3e3;
    background: #f70909;
    background: -moz-linear-gradient(top, #a00808 0%, #b70303);
    background: -webkit-gradient(linear, left top, left bottom, from(#a00808), to(#b70303)); }

.btn-default {
  font-family: "chunkfive";
  line-height: 2;
  font-size: 15px;
  color: white;
  background: #f70909;
  background: -moz-linear-gradient(top, #fa0606 0%, #f40b0b 50%, #d40c0c 80%, #c30505);
  background: -webkit-gradient(linear, left top, left bottom, from(#fa0606), color-stop(0.5, #f40b0b), color-stop(0.8, #d40c0c), to(#c30505));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ad0000;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.4);
  outline: none;
  padding: 5px 15px; }
  .btn-default:hover, .btn-default :active {
    color: #e3e3e3;
    background: #f70909;
    background: -moz-linear-gradient(top, #a00808 0%, #b70303);
    background: -webkit-gradient(linear, left top, left bottom, from(#a00808), to(#b70303)); }

.btn-glyph-gray {
  background: #161616;
  background: -moz-linear-gradient(top, #252525 0%, #161616);
  background: -webkit-gradient(linear, left top, left bottom, from(#252525), to(#080808)); }
  .btn-glyph-gray:hover {
    background: #323232;
    background: -moz-linear-gradient(top, #212021 0%, #323232);
    background: -webkit-gradient(linear, left top, left bottom, from(#212021), to(#323232)); }

.btn-glyph-light-gray {
  background: #555555;
  color: black;
  background: -moz-linear-gradient(top, #555555 0%, #3b3b3b);
  background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#3b3b3b)); }
  .btn-glyph-light-gray:hover {
    color: black;
    background: #555555;
    background: -moz-linear-gradient(top, #555555 0%, #3b3b3b);
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#3b3b3b)); }

.btn-group {
  padding: 0; }

.dropdowns select {
  width: 100%;
  color: white;
  margin-bottom: 10px;
  background: #212121;
  border: #1b1b1b thin solid;
  outline: none;
  border-radius: 3px;
  height: 28px;
  font: 13px "chunkfive";
  text-transform: uppercase; }
  .dropdowns select option {
    text-indent: 10px;
    color: white; }

footer form span.glyphicon {
  color: #e10d09; }
footer form label {
  font-weight: normal; }
footer form input {
  height: 30px;
  outline: none;
  width: 100%;
  color: #000;
  text-indent: 10px; }

.type-form {
  height: 100px;
  position: relative;
  overflow: hidden;
  padding: 0; }
  .type-form .type-form-btn {
    margin-top: 10px; }
  .type-form ul {
    list-style: none;
    padding: 0;
    margin: -10px 0 0;
    overflow: hidden;
    height: auto;
    position: absolute;
    width: 100%;
    top: 0;
    transition: top; }
    .type-form ul li.item {
      display: block;
      opacity: 0.3;
      height: 130px;
      width: 100%;
      padding: 0; }
      .type-form ul li.item label {
        display: block; }
      .type-form ul li.item.active {
        opacity: 1;
        transition: all 800ms;
        width: 100%;
        padding-top: 20px; }
      .type-form ul li.item input, .type-form ul li.item textarea, .type-form ul li.item select {
        color: #111; }
      .type-form ul li.item input[type="text"] {
        border: solid 1px #333;
        padding: 5px;
        width: 280px; }
      .type-form ul li.item textarea {
        border: solid 1px #333;
        padding: 5px;
        width: 280px;
        resize: none;
        height: 30px; }
      .type-form ul li.item .error {
        padding: 5px;
        margin-top: 10px;
        color: #ccc;
        background: #333;
        display: inline-block;
        font-size: 10px;
        position: relative; }
        .type-form ul li.item .error:before {
          content: '';
          border-bottom: solid 7px #333;
          border-left: solid 5px transparent;
          border-right: solid 5px transparent;
          position: absolute;
          top: -7px;
          left: 7px; }

#feedback.type-form {
  height: 250px; }
  #feedback.type-form ul li {
    padding-top: 50px; }
    #feedback.type-form ul li .error {
      margin-top: 0;
      margin-left: 10px;
      position: absolute; }
      #feedback.type-form ul li .error:before {
        content: '';
        border-top: solid 5px transparent;
        border-bottom: solid 5px transparent;
        border-right: solid 7px #333;
        border-left: none;
        position: absolute;
        top: 7px;
        left: -7px; }


