.input-append .add-on,
     .input-prepend .add-on {
       display: inline-block;
       width: auto;
       height: 30px;
       min-width: 16px;
       padding: 4px 5px;
       font-size: 14px;
       font-weight: normal;
       line-height: 20px;
       text-align: center;
       text-shadow: 0 1px 0 #ffffff;
       background-color: #eeeeee;
       border: 1px solid #ccc;
     }

     .input-prepend .add-on:first-child, .input-prepend .btn:first-child {
     -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
     border-radius: 4px 0 0 4px;
     }

     .input-prepend .add-on, .input-prepend .btn {
     margin-right: -5px;
     }

     .input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .btn-group > .dropdown-toggle {
     vertical-align: top;
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
     }

     select.input-medium{
       width: 155px;
       height: 30px;
     }

     select.input-small{
       height: 30px;
     }

.navbar-brand {
    color: yellow !important;
}