body{
     padding-top: 70px; 
}

.page-header{
     margin-top: 10px
}
     .page-header h3{
          display: inline-block;
     }

     .page-header .actions{
          float:right;
          margin-top: 20px
     }


.login-content{
     width: 420px;
     border: solid 1px #ccc;
     border-radius: 20px;
     padding: 0px 40px 10px;
}

footer.main{
     display: block;
     width: 100%;
     padding: 20px 0;
     border-top: solid 1px #aaa
}

textarea#content{
  width: 100%;
}

.advance-search{
  display: none;
  position: absolute;
  right: 0;
  z-index: 2;
  margin-right: 50px;
}
.form-content{
  padding: 20px;
  background: rgba(0,0,0,0.8);
}
  .form-content .add-on{
    width: 100px;
    text-align: right;
  }
  .form-content .input-prepend{
    display: block;
    margin-bottom: 10px;
  }

input, select{
     height: 30px;
     padding: 6px 12px;
     font-size: 14px;
     line-height: 1.428571429;
     color: #555555;
     vertical-align: middle;
     background-color: #ffffff;
     background-image: none;
     border: 1px solid #cccccc;
     border-radius: 0 5px 5px 0;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
     transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.connectedSortable tr, .ui-sortable-helper {
    cursor: move;
}
.connectedSortable tr:first-child {
    cursor: default;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: red;
}